body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff3ec;
}
/*vh es para la altura , vw letras 1. - 3*/
#cuestionario {
    box-shadow: 4px 6px 38px hsla(0,100%,79%,.3);
}
#imagen img {
    height: 35vh;
}